* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$yellow: #efcc19;
$white: #fff;
$black: #000;
$oldScreen: #9ead86;
$gameScreenWidth: 380px;
$gameScreenHeight: 468px;
$gameScreenContainerBorderWidth: 5px;
.fr {
  float: right;
}

.fl {
  float: left;
}

#page>.container {
  width: 640px;
  padding-top: 42px; // 이거 왜 하는거지?
  box-shadow: inset 0 0 10px #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -480px;
  margin-left: -320px;
  background: $yellow;
  b {
    display: block;
    width: 20px;
    height: 20px;
    padding: 2px;
    border: 2px solid #879372;
    margin: 0 2px 2px 0;
    float: left;
    &::after {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background: #879372;
      overflow: hidden;
    }
    &.active {
      border-color: black;
      &::after {
        background-color: black;
      }
    }
  }
  &>.top {
    width: 480px;
    padding-top: 45px;
    padding-bottom: 35px;
    margin: 0 auto;
    border: solid $black;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 0px;
    border-bottom-width: 10px;
    position: relative;
  }
  &>.bottom {
    width: 580px;
    height: 330px;
    border-width: 0 10px 10px;
    margin: 0 auto;
    position: relative;
  }
  &>.top {
    .decoration {
      &>.top {
        height: 10px;
        top: 0;
        overflow: hidden;
        position: absolute;
        width: 100%;
        left: 0;
        .deco-block {
          display: block;
          width: 10px;
          height: 10px;
          overflow: hidden;
          background: $black;
          &.fl {
            margin-right: 10px;
          }
          &.fr {
            margin-left: 10px;
          }
          &.long {
            width: 40px;
          }
        }
      }
      &>.title {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        font-weight: 400;
        top: -18px;
        margin: 0;
        padding: 0;
        font-size: 30px;
      }
      &>.left,
      &>.right {
        position: absolute;
        width: 44px;
        top: 0;
      }
      &>.left {
        left: -70px;
      }
      &>.right {
        right: -70px;
      }
      b {
        margin: 0;
        &.empty {
          visibility: hidden;
        }
      }
      .gap {
        height: 22px;
        clear: both;
      }
      .clear {
        clear: both;
      }
    }
    .game-screen-container {
      width: $gameScreenWidth + $gameScreenContainerBorderWidth*2;
      height: $gameScreenHeight + $gameScreenContainerBorderWidth*2;
      border: 5px solid;
      border-color: #987f0f #fae36c #fae36c #987f0f;
      margin: 0 auto;
      position: relative;
      .game-screen {
        position: relative;
        width: $gameScreenWidth;
        height: $gameScreenHeight;
        padding: 8px;
        border: 2px solid #494536;
        background-color: $oldScreen;
        .matrix {
          border: 2px solid #000;
          padding: 2px;
          width: 228px;
          overflow: hidden;
          p {
            width: ((20+2)*10)px;
          }
        }
        .logo {
          display: none;
          position: absolute;
          width: 224px;
          top: 100px;
          left: 10px;
          text-align: center;
          &.active {
            display: block;
          }
          p {
            line-height: 1.4;
            font-family: initial;
            letter-spacing: 6px;
            text-shadow: 1px 1px 1px hsla(0,0%,100%,.35);
            margin-left: auto;
            margin-right: auto;
          }
        }
        .sidebar {
          width: 108px;
          position: absolute;
          top: 0;
          right: 15px;
        }
      }
    }
  }
}