* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$yellow: #efcc19;
$white: #fff;
$black: #000;
$red: #900603;
$oldScreen: #9ead86;
$gameScreenWidth: 380px;
$gameScreenHeight: 468px;
$gameScreenContainerBorderWidth: 5px;
.fr {
  float: right;
}

.fl {
  float: left;
}

.bg {
  background: url('../assets/bg.png') no-repeat;
  overflow:hidden;
}

.led-container {
  display: flex;
  justify-content: flex-end;
}
.led-number {
  width: 14px;
  height: 24px;
}
.ln-empty {
  background-position: -215px -25px;
}
@for $i from 0 through 9 {
  .ln-#{$i} {
    background-position: -(75px+$i*14px) -25px;
  }
}

// block
b {
  display: block;
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 2px solid #879372;
  margin: 0 2px 2px 0;
  float: left;
  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #879372;
    overflow: hidden;
  }
  &.black {
    border-color: $black;
    &::after {
      background-color: $black;
    }
  }
  &.red {
    border-color: $red;
    &::after {
      background-color: $red;
    }
  }
}

#page>.container {
  width: 640px;
  padding-top: 42px; // 이거 왜 하는거지?
  box-shadow: inset 0 0 10px #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -480px;
  margin-left: -320px;
  background: $yellow;
  p {
    overflow: hidden;
  }
  & > .top {
    width: 480px;
    padding-top: 45px;
    padding-bottom: 35px;
    margin: 0 auto;
    border: solid $black;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 0px;
    border-bottom-width: 10px;
    position: relative;
    &.shake {
      top: 6px;
    }
  }
  & > .bottom {
    width: 580px;
    height: 330px;
    border-width: 0 10px 10px;
    margin: 0 auto;
    position: relative;
    .button-container {
      text-align: center;
      color: #111;
      position: absolute;
      white-space: nowrap;
      line-height: 1.6;
      &.feature-rotate { top: 0; left: 374px; }
      &.feature-right { top: 90px; left: 464px; }
      &.feature-down { top: 180px; left: 374px; }
      &.feature-left { top: 90px; left: 284px; }

      i {
        display: block;
        position: relative;
        border: 1px solid black;
        border-radius: 50%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        &.bg-blue { background-color: #5a65f1; }
        &.bg-green { background-color: #2dc421; }
        &.bg-red { background-color: #dd1a1a; }
        &.s-large { width: 160px; height: 160px; }
        &.s-middle { width: 100px; height: 100px; }
        &.s-small {
          width: 52px; height: 52px;
          box-shadow: 1px 1px 1px rgba(0,0,0,.2);
          &::before {
            box-shadow: inset 0 3px 6px hsla(0,0%,100%,.8);
          }
          &::after {
            box-shadow: inset 0 -3px 6px rgba(0,0,0,.8);
          }
        }
        &::before, &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          box-shadow: inset 0 5px 10px hsla(0,0%,100%,.8);
        }
        &::after {
          box-shadow: inset 0 -5px 10px rgba(0,0,0,.8);
        }
      }

      em {
        display: block;
        width: 0;
        height: 0;
        border: 8px solid;
        border-color: transparent transparent #111;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -12px 0 0 -8px;
      }
      &.feature-rotate > em { transform: translate(0px, 63px) scale(1, 2); }
      &.feature-right > em { transform: translate(-60px, -12px) rotate(90deg) scale(1, 2); }
      &.feature-down > em { transform: translate(0px, -71px) rotate(180deg) scale(1, 2); }
      &.feature-left > em { transform: translate(60px, -12px) rotate(270deg) scale(1, 2); }

      span {
        font-size: 18px;
      }
      &.feature-rotate > span { position: absolute; top: 5px; left: 104px; }

      &.feature-drop {
        top: 100px;
        left: 52px;
      }

      &.feature-pause {
        top: 0px;
        left: 16px;
      }
      &.feature-sound {
        top: 0px;
        left: 106px;
      }
      &.feature-reset {
        top: 0px;
        left: 196px;
      }
    }
  }
  & > .top {
    .decoration {
      &>.top {
        height: 10px;
        top: 0;
        overflow: hidden;
        position: absolute;
        width: 100%;
        left: 0;
        .deco-block {
          display: block;
          width: 10px;
          height: 10px;
          overflow: hidden;
          background: $black;
          &.fl {
            margin-right: 10px;
          }
          &.fr {
            margin-left: 10px;
          }
          &.long {
            width: 40px;
          }
        }
      }
      &>.title {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        font-weight: 400;
        top: -18px;
        margin: 0;
        padding: 0;
        font-size: 30px;
      }
      &>.left,
      &>.right {
        position: absolute;
        width: 44px;
        top: 0;
      }
      &>.left {
        left: -70px;
      }
      &>.right {
        right: -70px;
      }
      b {
        margin: 0;
        &.empty {
          visibility: hidden;
        }
      }
      .gap {
        height: 22px;
        clear: both;
      }
      .clear {
        clear: both;
      }
    }
    .game-screen-container {
      width: $gameScreenWidth + $gameScreenContainerBorderWidth*2;
      height: $gameScreenHeight + $gameScreenContainerBorderWidth*2;
      border: 5px solid;
      border-color: #987f0f #fae36c #fae36c #987f0f;
      margin: 0 auto;
      position: relative;
      .game-screen {
        display: flex;
        position: relative;
        width: $gameScreenWidth;
        height: $gameScreenHeight;
        padding: 8px;
        border: 2px solid #494536;
        background-color: $oldScreen;
        .matrix {
          border: 2px solid #000;
          padding: 2px;
          width: 228px;
          overflow: hidden;
          p {
            width: (20+2)*10px;
          }
        }
        .logo {
          display: none;
          position: absolute;
          width: 224px;
          top: 100px;
          left: 10px;
          text-align: center;
          & > .dragon {
            width: 80px;
            height: 86px;
            margin: 0 auto;
            background-position: 0 -100px;
            &.r1,&.l1 {
              background-position: 0 -100px;
            }
            &.r2,&.l2 {
              background-position: -100px -100px;
            }
            &.r3,&.l3 {
              background-position: -200px -100px;
            }
            &.r4,&.l4 {
              background-position: -300px -100px;
            }
            &.l1,&.l2,&.l3,&.l4{
              transform: scale(-1, 1);
            }
          }
          &.active {
            display: block;
          }
          p {
            line-height: 1.4;
            font-family: initial;
            font-size: 22px;
            letter-spacing: 6px;
            text-shadow: 1px 1px 1px hsla(0,0%,100%,.35);
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
          }
        }
        .sidebar {
          width: 132px;
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          label {
            width: 100%;
            font-size: 20px;
            font-weight: 400;
          }
          .point > .container, .start-lines > .container,
          .speed > .container, .next-block > .container {
            overflow: hidden;
            margin-top: 10px;
            margin-bottom: 25px;
            display: flex;
            justify-content: flex-end;
          }
          .next-block > .container {
            flex-flow: column;
            align-items: flex-end;
          }
          .etc > .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .sound {
              width: 25px;
              height: 21px;
              background-position: -175px -75px;
            }
            .pause {
              width: 20px;
              height: 18px;
              background-position: -100px -75px;
              &.on { background-position: -75px -75px; }
            }
            .clock > .container {
              display: flex;
              margin-left: 4px;
              justify-content: space-evenly;
              .led-colon {
                width: 10px;
                height: 24px;
                background-position: -247px -25px;
                &.on {
                  background-position: -233px -25px;
                }
              }
            }
          }
        }
      }
    }
  }
}