* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$yellow: #efcc19;
$white: #fff;
$black: #000;
$oldScreen: #9ead86;
.fr {
  float: right;
}
.fl {
  float: left;
}
#page > .container {
  width: 640px;
  padding-top: 42px; // 이거 왜 하는거지?
  box-shadow: inset 0 0 10px #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -480px;
  margin-left: -320px;
  background: $yellow;

  & > .top {
    width: 480px;
    padding-top: 45px;
    padding-bottom: 35px;
    margin: 0 auto;
    border: solid $black;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
  }
  & > .bottom {
    width: 580px;
    height: 330px;
    margin: 0 auto;
    border-width: 0 10px 10px;
    margin: 0 auto;
    position: relative;
  }

  & > .top > .inner {
    .decoration {
      & > .top {
        height: 10px;
        top: 0;
        overflow: hidden;
        position: absolute;
        width: 100%;
        left: 0;
        .deco-block {
          display: block;
          width: 10px;
          height: 10px;
          overflow: hidden;
          background: $black;
          &.fl { margin-right: 10px; }
          &.fr { margin-left: 10px; }
          &.long { width: 40px; }
        }
      }
      & > .title {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        font-weight: 400;
        top: -12px;
        margin: 0;
        padding: 0;
        font-size: 30px;
      }
      & > .right {}
      & > .left {}
    }
    $gameScreenWidth: 380px;
    $gameScreenHeight: 468px;
    $gameScreenContainerBorderWidth: 5px;
    .game-screen-container {
      width: $gameScreenWidth + $gameScreenContainerBorderWidth*2;
      height: $gameScreenHeight + $gameScreenContainerBorderWidth*2;
      border: 5px solid;
      border-color: #987f0f #fae36c #fae36c #987f0f;
      margin: 0 auto;
      position: relative;
      .game-screen {
        width: $gameScreenWidth;
        height: $gameScreenHeight;
        padding: 8px;
        border: 2px solid #494536;
        background-color: $oldScreen;
      }
    }
  }
}
